version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: snippetmaster-backend
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=development
      - PORT=8000
      - MONGO_URI=${MONGO_URI}
      - CLIENT_URL=${CLIENT_URL}
      - JWT_SECRET=${JWT_SECRET}
      - USER_EMAIL=${USER_EMAIL}
      - EMAIL_PASS=${EMAIL_PASS}
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped
    networks:
      - snippetmaster-network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: snippetmaster-frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - snippetmaster-network

networks:
  snippetmaster-network:
    driver: bridge

